# Dependencias y Logs
node_modules/
npm-debug.log
pnpm-debug.log
yarn-error.log
pnpm-lock.yaml

# Archivos de Build y Entorno
.env
.env*.local
.DS_Store
dist/
.next/
build/

# IDEs
.vscode/
.idea/

# NestJS
/dist

# Docker
docker-data/
