@import "tailwindcss";
@import "./variables.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Variables Mapping */
  --color-parana-profundo: #314a6b;
  --color-tierra-activa: #e85e25;
  --color-blanco-puro: #ffffff;
  --color-gris-oscuro: #333333;
  --color-gris-fondo-claro: #f5f7fa;

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
