@import "tailwindcss";
@import "./variables.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom Variables Mapping */
  --color-parana-profundo: var(--color-parana-profundo);
  --color-tierra-activa: var(--color-tierra-activa);
  --color-blanco-puro: var(--color-blanco-puro);
  --color-gris-oscuro: var(--color-gris-oscuro);
  --color-gris-fondo-claro: var(--color-gris-fondo-claro);

  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.input-primary {
  @apply w-full min-w-[200px] px-5 py-3 border-2 border-gray-400 rounded-lg bg-white text-gray-900 font-medium focus:outline-none focus:ring-2 focus:ring-gray-400 cursor-pointer uppercase text-sm;
}